@model PirateMember
<div class="jumbotron">
    <h1>@Model.Name</h1>
    <p>Age: @Model.Age</p>
    <p>Pirate Role: @Model.PirateRole</p>
    <a href="/" class="btn btn-primary">Back to Home</a>
</div>